<header class="bg-light">
  <div class="container py-3">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img
          src="https://st2.depositphotos.com/4403291/7418/v/450/depositphotos_74189661-stock-illustration-online-shop-log.jpg"
          alt="icon store"
          width="100px"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6">
        <form class="form-inline">
          <div class="input-group w-100">
            <input
              type="text"
              class="form-control"
              placeholder="search products"
              aria-label="search products"
              aria-describedby="botton-search"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="botton-search">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-end">
          <button (click)="goToByName('home')" class="btn btn-primary">
            Home
          </button>
          <button (click)="goToByName('products')" class="btn btn-primary">
            Shop
          </button>
          <button (click)="goToByName('cart')" class="btn btn-primary">
            <i style="font-size: 30px" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px" class="badge bg-danger">
              {{ totalItem }}
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
