<footer class="bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-3">Contact information</h5>
        <p class="mb-2">
          <i class="fa fa-map-marker mr-2"></i>Address: 123 Main Street, City
        </p>
        <p class="mb-2">
          <i class="fa fa-phone mr-2"></i> Telephone: +1 (555) 123-4567
        </p>
        <p class="mb-2">
          <i class="fa fa-envelope mr-2"></i> Email: info@ecommerce.com
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Helpful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Shipping Policy</a></li>
          <li><a href="#">Return policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">follow us</h5>
        <ul class="list-inline">
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="text-muted text-center">
      © 2023 Ecommerce Fake. All rights reserved.
    </p>
  </div>
</footer>
